.slide-5 {
    background-color: #fff;
    .item-image {
        width: 18rem;
        height: 18rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/qrcode.jpg');
    }

    .item-text {
        width: 18rem;
        color: #707ca8;
        font-size: 1.6rem;
        font-weight: bold;
        position: absolute;
        top: 24rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
}