.slide-sherlock {
  background-color: #fff;

  .item-image {
    width: 18rem;
    height: 18rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url('../images/sherlock.jpg');
  }

  .item-text {
    width: 18rem;
    color: #808182;
    font-size: 1.6rem;
    font-weight: bold;
    position: absolute;
    top: 24rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }

  .item-text-2 {
    width: 18rem;
    color: #808182;
    font-size: 1.6rem;
    font-weight: bold;
    position: absolute;
    top: 26rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }

  a {
    color: #808182;
  }
}