@charset "UTF-8";

.loading-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #727a86;
  z-index: 9999;
  img {
    width: 10rem;
    height: 10rem;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .user-name {
    width: 100%;
    text-align: center;
    margin: 10px auto 0;
    color: #fff;
    font-size: 2rem;
  }

  svg {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 10%;
  }

  svg path, main svg line {
    stroke: #eee;
    stroke-width: 4px;
  }
  svg path {
    fill: transparent;
  }
}
